body {
    margin: 0;
    color: white;
    /*font-family: 'Oleo Script', cursive;*/
    /*font-family: 'Playball', cursive;*/
}
.main {
    background: black;
    position: relative;
}
.page {
    width: 100%;
}
.header {
    display: flex;
    width: 100%;
    justify-content: center;
    position: fixed;
    background-color: rgba(12,12,13,0.86);
    left: 0;
    top: 0;
    z-index: 7;
}
.headerWrap {
    display: flex;
    width: 1200px;
    padding: 20px 40px;
    justify-content: space-between;
}
.content {
    padding-top: 150px;
}
@media(min-width: 0px) and (max-width: 850px) {
    .headerWrap {
        padding: 20px 40px;
    }
}
.logo {
    position: relative;
    padding: 0 5px 0 0;
    margin-left: 40px;
    font-size: 37px;
    font-weight: bold;
    background: url(../img/background.png) 155px 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*1font-family: 'Playball', cursive;*/
    /*1font-family: 'Tourney', cursive;*/
    /*1font-family: 'Oleo Script', cursive;*/
    /*1font-family: 'Tourney', cursive;*/
    /*1font-family: 'Abril Fatface', cursive;*/
}
.logo a {
    color: white;
    text-decoration: none;
    background: url(../img/background.png) 155px 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.logo:hover {
    cursor: pointer;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.logo:before {
    display: block;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 0;
    left: -55px;
    content: "";
    background: url("../img/logoTop.jpg") no-repeat;
    background-size: contain;
}
.btn {
    font-size: 20px;
    font-weight: bold;
    border: none;
    margin: 0;
    padding: 5px 10px;
    border-radius: 25px;
    background: red;
    background: url(../img/Gold.jpg) -270px -400px;
    cursor: pointer;

    animation-duration: 1s;
    animation-name: btn;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes btn {
    from {
        background: url(../img/Gold.jpg) -170px -400px;
    }
    50% {
        background: url(../img/Gold.jpg) -210px -400px;
    }

    to {
        background: url(../img/Gold.jpg) -270px -400px;
    }
}
.navigation {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.navigation li {
    margin: 10px 10px;
    color: white;
    font-size: 18px;
}
.navigation li:hover {
    cursor: pointer;
    background: url(../img/Gold.jpg) -370px -400px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navigation a {
    text-decoration: none;
    color: white;
    text-align: center;
}

.sideMenu {
    display: none;
    width: 35px;
    height: 30px;
    padding: 10px 10px 0;
}
.sideMenu:hover {
    cursor: pointer;
    background-color: rgba(12,12,13,0.86);
}
.sideMenu div {
    height: 5px;
    background: goldenrod;
    margin-bottom: 5px;
}
.sideMenu:hover div {
    background: white;
}
@media(min-width: 0px) and (max-width: 850px) {
    .sideMenu {
        display: block;
    }
}
@media only screen
and (min-device-width: 320px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3) {
    .sideMenu {
        display: block;
    }
}
@media only screen
and (min-device-width: 320px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 2) {
    .sideMenu {
        display: block;
    }
}
.mainLogo {
    margin: 0 200px 0 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media(min-width: 850px) and (max-width: 1200px) {
    .mainLogo {
        margin: 0 100px 0 200px;
    }
}
@media(min-width: 0px) and (max-width: 850px) {
    .mainLogo {
        margin: 0 50px 0 100px;
    }
}
.mainLogoImg {
    width: 100%;
}
.mainLogoGirl {
    width: 100%;
}
.aboutUsWrap {
    display: flex;
    background: url(../img/backgroundAbout1.jpg) no-repeat;
    background-size: cover;
    padding-top: 100px;
}
.aboutUs {
    width: 900px;
    margin: 0 auto;
    padding: 0 20px 70px;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    font-size: 24px;
}
.aboutUs h2 {
    margin: 0 0 25px 0;
    background: url(../img/background.png) -235px 50px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.aboutUs p {
    margin: 0 0 25px 0;
}
.apply {
    /*width: 270px;*/
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
    padding: 5px 10px;
    border: none;
    border-radius: 50px;
    background: url(../img/background.png);
    background-size: cover;
    margin: 0 auto;


}
.apply a {
    text-decoration: none;
    color: black;
    /*animation-duration: 1s;*/
    /*animation-name: apply;*/
    /*animation-direction: alternate;*/
    /*animation-iteration-count: infinite;*/
}
/*@keyframes apply {*/
    /*from {*/
    /*color: black;*/
    /*}*/

    /*to {*/
        /*color: white;*/
    /*}*/
/*}*/
.apply:hover {
    background: url(../img/Gold.jpg) -320px 250px;
    animation-name: a;
}
.apply a:hover {
    animation-name: a;
}
.aboutWork {
    display: flex;
    flex-direction: column;
    color: red;
    position: relative;
    background: url("../img/girl2.jpg") no-repeat center;
    padding-top: 100px;
}
h1 {
    width: 530px;
    text-align: center;
    margin: 0 auto 50px;
    padding: 0;
    font-size: 35px;
    background: url(../img/Gold.jpg) -1185px 200px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.colWrap {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
}
.colWrap p {
    font-size: 18px;
}
.colLeft {
    width: 40%;
}
.colRight {
    width: 40%;
    text-align: right;
}
.position {
    color: white;
}
.position p {
    margin: 0;
}
.aboutWorkPosition1 {

}
.aboutWorkPosition2 {
    text-align: right;
}
.aboutWorkPosition3 {

}
.aboutWorkPosition4 {
    text-align: right;
}
.aboutWorkPosition5 {

}
.aboutWorkPosition6 {

}
.aboutWorkPosition7 {
    text-align: left;
}
.aboutWorkPosition8 {

}
.aboutWorkPosition9 {
    text-align: left;
}
.aboutWorkPosition10 {

}
.logoText {
    font-size: 34px;
    background: url(../img/Gold.jpg) -320px 200px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.earn {
    font-size: 22px;
    background: url(../img/background.png) -370px 50px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.position {
    margin-bottom: 25px;
}
.position h3 {
    text-transform: uppercase;
    margin: 0;
    background: url(../img/background.png) -170px 50px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.advantages {
    color: white;
    padding-top: 100px;
    margin-bottom: 70px;
}
.advantagesWrap {
}
.advantagesWrap h3 {
    width: 530px;
    text-align: center;
    margin: 0 auto 50px;
    padding: 0;
    font-size: 35px;
    background: url(../img/Gold.jpg) -1185px 200px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.advantagesItems {
    padding: 0 30px;
}
.horizontalAdvantage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.advantage {
    width: 325px;
    padding: 5px;
    margin-left: 100px;
    font-size: 20px;
    position: relative;
}
.advantage:before {
    display: block;
    position: absolute;
    left: -107px;
    top: 7px;
    width: 90px;
    height: 90px;
    content: "";
    background: url(../img/advatages.png) -121px -30px;
}
.advantage h4 {
    text-transform: uppercase;
    margin: 0 0 30px 0;
    background: url(../img/background.png) -170px 50px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1em;
}
.advantage p {
    margin: 0 0 50px 0;
}
.advPhoto1:before {
    background: url(../img/advatages.png) -22px -150px;
}
.advPhoto2:before {
    background: url(../img/advatages.png) -136px -145px;
}
.advPhoto3:before {
    background: url(../img/advatages.png) -5px -375px;
}
.advPhoto4:before {
    background: url(../img/advatages.png) -20px -30px;
}
.advPhoto5:before {
    background: url(../img/advatages.png) -22px -275px;
}
.advPhoto6:before {
    background: url(../img/advatages.png) -140px -280px;
}
.advPhoto7:before {
    background: url(../img/advatages.png) -130px -390px;
}
.applyBtn {
    margin-bottom: 100px;
}
.aboutUsWrap2 {
    background: none;
    padding-top: 0;
}
.ImgPlaceWrap {
    display: flex;
    flex-direction: column;
}
.ImgPlace {
    display: flex;
    justify-content: center;
    padding: 0 50px;
}
.ImgPlace div {
    text-align: center;
}
.ImgPlace div img{
    width: 260px;
    height: 90px;
}
@media(min-width: 0px) and (max-width: 850px) {
    .ImgPlace {
        flex-direction: column;
    }
}
.apply1 {
    width: 300px;
    display: block;
    margin: 0 auto;
    padding: 15px 20px;
    font-size: 24px;
}
.apply1:hover {
    background: url(../img/Gold.jpg) -200px 250px;
    animation-name: a;
}
.interest {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 22px;
    text-align: center;
    margin-bottom: 100px;
}
.interestPadding {
    width: 50%;
    padding-top: 120px;
}
.interest h3 {
    width: 123%;
    margin: 0 0 55px;
    font-size: 28px;
}
.interestWrap {
    display: flex;
    justify-content: space-between;
    margin-left: 25%;
}
.interestWidth {
    width: 43%;
    height: 100%;
}
.percent {
    font-size: 55px;
    font-weight: bold;
}
.goldenLady {
    width: 50%;
    height: auto;
}

.terms {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 22px;
    margin-bottom: 20px;
}
.termsWrap {
    text-align: center;
    width: 40%;
    padding: 155px 100px 0 20px;
}
.termsWrap h3 {
    margin: 0 0 25px 0;
    background: url(../img/background.png) -235px 50px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 28px;
}
.girlHair {
    width: 40%;
    height: auto;
}
form {
    width: 30%;
}
.form {
    display: flex;
    /*1justify-content: space-between;*/
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 0 50px 100px;
}
.formWrap {
    display: flex;
    justify-content: center;
}
.input {
    border-color: dimgrey;
    border-width: 1px;
    border-style: solid;
    margin: 0 0 25px 0;
}
input {
    width: 85%;
    border: none;
    outline: none;
    padding: 10px 20px;
    color: white;
    background-color: black;
    font-size: 16px;
}
textarea {
    border: none;
    outline: none;
    padding: 10px 20px;
    color: white;
    background-color: black;
    font-size: 18px;
    resize: none;
}
.experience {
    border-color: dimgrey;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 25px;
    padding: 10px 20px;
    color: dimgrey;
    font-size: 16px;
    font-weight: bold;
}
.skill {
    width: auto;
    margin: 0 0 0 10px;
}
.formBtn {
    display: block;
    margin: 0 auto;
    width: auto;
    padding: 10px 15px;
}
.contact {
    justify-content: center;
    padding: 50px 350px 15px;
    font-size: 22px;
    text-align: center;
}
@media(min-width: 0px) and (max-width: 1270px) {
    .form {
        flex-direction: column;
        justify-content: center;
    }
    form {
        width: 70%;
    }
    .formWrap {
        display: flex;
        justify-content: center;
        width: 100%;
        order: 2;
    }
    .contact {
        width: auto;
        order: 1;
        text-align: center;
    }
}
@media(min-width: 0px) and (max-width: 700px) {
    .form {
        padding: 0 25px 100px;
    }
    form {
        width: 100%;
    }
    .contact {
        padding: 15px 25px 0;
    }
}
.contact h2 {
    margin: 0 0 25px;
}
.telegram {
    display: block;
    margin: 25px auto;
    width: 30px;
    height: 30px;
    margin-bottom: 25px;
    background: url(../img/telegram1.png) 17px 18px no-repeat;
    border: solid 17px deepskyblue;
    border-radius: 50%;
    padding: 25px;

    animation-duration: 1s;
    animation-name: telegram;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes telegram {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.telegram:hover {
    background: url("../img/telegram1.png") 17px -67px no-repeat;
    animation-name: none;
}
.telegramFooterWrap {
    margin: 0 auto;
}
.telegramFooterWrap p {
    text-align: center;
}
.footer {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 15px;
    background: #121213;
}
.footer a {
    color: white;
    text-decoration: none;
}
.footer a:hover {
    color: dimgrey;
    background-color: rgba(12,12,13,0.86);
}
.footer .connectUs:hover {
    color: deepskyblue;
}
.footerWrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 18px;
    padding-bottom: 25px;
    border-bottom: 1px solid dimgrey;
}
.footerWrap ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footerWrap a {
    color: white;
}
.aboutBMS {
    width: 200px;
}
.ourServices {
    width: 200px;
}
.atention {
    width: 400px;
    text-align: center;
}
.ourContacts {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-size: 18px;
    padding-bottom: 25px;
}
.ourContacts h2 {
    margin: 15px auto;
}
.city {
    margin: 0 auto;
}
.btnContact {
    margin-top: 10px;
    font-size: 14px;
}
.btnContact a {
    text-decoration: none;
    color: black;
}
.btnContact a:hover {
    color: black;
    background: none;
}
.footerNetwork {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 30px 25px;
    border-top: 1px solid dimgrey;
    border-bottom: 1px solid dimgrey;
}
.footerNetwork li {
    margin-right: 20px;
}
.footerPolicy {
    text-align: center;
    margin-bottom: 25px;
}
.mail {
    margin: 0 auto;
}
.mail a:hover {
    color: gold;
}
.mail p {
    text-align: center;
}
.mail a {
    display: block;
    text-align: center;
}
.license {
    padding-top: 25px;
}
.mobSideMenuLi .hideWrap {
    text-align: right;
    margin: 0 0 15px;
}
.hide {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url("../img/hideBtn.jpg") no-repeat;
    background-size: cover;

    -webkit-transition: background 0.5s ease-out;
    -moz-transition: background 0.5s ease-out;
    -o-transition: background 0.5s ease-out;
    transition: background 0.5s ease-out;
}
.hide:hover {
    background: url("../img/hideBtnHover.jpg") no-repeat;
    background-size: cover;
}
.mobSideMenu {
    position: fixed;
    top: -1570px;
    right: -1600px;
    text-align: right;
    z-index: 8;
    background: url("../img/backgroundAbout3.jpg");
    background-size: cover;
    transition: all 0.30s ease-in-out;
    border-radius: 20% 0 0 20%;
}
.mobSideMenu ul {
    list-style: none;
    padding: 0 30px;
}
.mobSideMenu li {
    margin-bottom: 15px;
    border-bottom: 1px solid goldenrod;
}
.mobSideMenu a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    /*font-weight: bold;*/
}
.mobSideMenu a:hover {
    cursor: pointer;
    color: gold;
    background-color: rgba(12,12,13,0.86);
}
.linkToStart {
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.linkToStart:hover {
    color: gold;
}
.horizontalAdvantage img {
    width: 100%;
}
.studioPhoto {
    width: 325px;
    padding: 5px;
    margin-left: 100px;
    font-size: 20px;
    position: relative;
}
.callBackPhoto1:before {
    background: url(../img/girl/1.jpg) no-repeat;
    background-size: cover;
    border-radius: 50%;
}
.callBackPhoto2:before {
    background: url("../img/girl/2.jpg");
    background-size: cover;
    border-radius: 50%;
}
.callBackPhoto3:before {
    background: url("../img/girl/3.jpg");
    background-size: cover;
    border-radius: 50%;
}
.callBackPhoto4:before {
    background: url("../img/girl/4.jpg");
    background-size: cover;
    border-radius: 50%;
}
.callBackPhoto5:before {
    background: url("../img/girl/5.jpg");
    background-size: cover;
    border-radius: 50%;
}
.callBackPhoto6:before {
    background: url("../img/girl/6.jpg");
    background-size: cover;
    border-radius: 50%;
}
.callBackPhoto7:before {
    background: url("../img/girl/7.jpg");
    background-size: cover;
    border-radius: 50%;
}
.callBackPhoto8:before {
    background: url("../img/girl/8.jpg");
    background-size: cover;
    border-radius: 50%;
}
.callBackPhoto9:before {
    background: url("../img/girl/9.jpg");
    background-size: cover;
    border-radius: 50%;
}
.callBackPhoto10:before {
    background: url("../img/girl/10.jpg");
    background-size: cover;
    border-radius: 50%;
}
.callBackPhoto11:before {
    background: url("../img/girl/11.jpg");
    background-size: cover;
    border-radius: 50%;
}
.callBackPhoto12:before {
    background: url("../img/girl/12.jpg");
    background-size: cover;
    border-radius: 50%;
}
.studioPhotoWrap .advantagesWrap .callBackH3 {
    width: 700px;
    text-align: center;
    margin: 0 auto 50px;
    padding: 0;
    font-size: 35px;
    background: url(../img/Gold.jpg) -1178px 250px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.ourContactCol {
    text-align: center;
}

.QuestionsContent {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 0 30px;
}
.box {
    display: inline-block;
    width: 500px;
    margin: 0 auto;
    vertical-align: top;
}
.group {
    background: url("../img/background.png") no-repeat;
    background-size: cover;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    border: solid 5px white;
    border-radius: 7px;
}
.text {
    margin: 0;
}
a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: black;
}
a:hover {
    1text-decoration: underline;
}
.sabmenu {
    display: none;
    background-color: black;
    padding: 15px;
}
.active .sabmenu {
    display: block;
}
.thankyou {
    text-align: center;
    padding: 0 50px 50px;
}
.thankyou h2{
    font-size: 38px;
    background: url(../img/background.png) -235px 50px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media(min-width: 0px) and (max-width: 1100px) {
    .QuestionsContent {
        display: flex;
        flex-direction: column;
    }
    .box {
        width: 90%;
    }
}
/*////////////////////////////////////////////////////////////////////////////////////*/

@media(min-width: 0px) and (max-width: 850px) {
    .navigation {
        display: none;
    }
    h1 {
        font-size: 1.5em;
        width: 400px;
    }
    .advantagesWrap h3 {
        font-size: 1.5em;
        width: auto;
    }
    .girlHair {
        display: none;
    }
    .termsWrap {
        width: auto;
        padding: 0 100px;
    }
    .goldenLady {
        display: none;
    }
    .interestPadding {
        width: auto;
    }
    .interestPadding h3 {
        width: auto;
    }
    .interestWrap {
        margin: 0;
        padding: 0 30px;
    }
    .studioPhotoWrap .advantagesWrap .callBackH3 {
        width: auto;
    }

}
@media(min-width: 0px) and (max-width: 1050px) {
    .studioPhoto {
        margin-left: 0;
    }
}
@media(min-width: 1400px) and (max-width: 1600px) {
    .contact {
        padding: 50px 250px;
    }
}
@media(min-width: 1200px) and (max-width: 1400px) {
    .contact {
        padding: 50px 150px;
    }
}
@media(min-width: 850px) and (max-width: 1200px) {
    .contact {
        padding: 50px 100px;
    }
}
@media(min-width: 500px) and (max-width: 850px) {
    .contact {
        padding: 50px 50px;
    }
}
@media(min-width: 0px) and (max-width: 500px) {
    .contact {
        padding: 50px 25px;
    }
}
@media(min-width: 0px) and (max-width: 850px) {
    .telegram {
        margin: 25px auto;
    }
    .navigation {
        display: none;
    }
}
@media(min-width: 850px) and (max-width: 3840px) {
    .linkToStartWrap {
        display: none;
    }
}

/*/////////////////////////////////////////////////////////////////////////////////*/

@media only screen
and (min-device-width: 320px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3) {
    .callBackH3 {
        font-size: 55px;
        width: auto;
        background: url(../img/Gold.jpg) -995px 275px;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .studioPhoto {
        width: 100%;
        padding: 5px;
        font-size: 20px;
        position: relative;
        margin-left: 0;
    }
    .linkToStartWrap {
        display: inline-block;
    }
    .linkToStart {
        font-size: 60px;
    }
    .mobSideMenuLi .hideWrap {
        text-align: right;
        margin: 0 0 15px;
    }
    .hide {
        display: inline-block;
        margin-left: 590px;
        width: 130px;
        height: 130px;
        background: url("../img/hideBtn.jpg") no-repeat;
        background-size: cover;

        -webkit-transition: background 0.5s ease-out;
        -moz-transition: background 0.5s ease-out;
        -o-transition: background 0.5s ease-out;
        transition: background 0.5s ease-out;
    }
    .hide:hover {
        background: url("../img/hideBtnHover.jpg") no-repeat;
        background-size: cover;
    }
    .logo {
        font-size: 90px;
    }
    .logo:before {
        width: 80px;
        height: 80px;
        top: 15px;
        left: -95px;
    }
    .sideMenu {
        margin-top: 20px;
        width: 110px;
        height: 90px;
    }
    .sideMenu div {
        height: 15px;
        margin-bottom: 15px;
    }
    .headerWrap {
        padding: 70px 100px;
    }
    .navigation {
        display: none;
    }
    .apply {
        width: 800px;
        padding: 25px 30px;
        font-size: 60px;
    }
    .apply:hover {
        background: url(../img/Gold.jpg) -15px 355px;
        animation-name: a;
    }
    .aboutUs {
        font-size: 45px;
    }
    .aboutUsWrap {
        background-size: cover;
        margin-bottom: 75px;
        padding-top: 260px;
    }
    .aboutUsWrap2 {
        padding-top: 0;
    }
    .aboutUs h2 {
        font-size: 55px;

    }
    .aboutUs h2 span {
        font-size: 55px;
    }
    .aboutWork {
        background: url("../img/baterfly.jpg") repeat-y 190px -290px;
        padding-top: 250px;
    }
    .aboutWork .colWrap .position{
        text-align: center;
    }
    .colWrap {
        font-size: 45px;
        flex-direction: column;
        text-align: center;
    }
    .colLeft {
        width: auto;
    }
    .colRight {
        width: auto;
        text-align: center;
    }
    h1 {
        width: auto;
        font-size: 60px;
        margin: 0 auto 55px;
        background: url(../img/Gold.jpg) -1233px 325px;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .logoText {
        background: url(../img/Gold.jpg) -7px 217px;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .girlWrap {
        display: none;
    }
    .mainLogoImgWrap {
        margin-bottom: 60px;
    }
    .advantages {
        padding-top: 255px;
    }
    .advantagesWrap h3 {
        font-size: 55px;
        width: auto;
        background: url(../img/Gold.jpg) -1102px 275px;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .horizontalAdvantage {
        flex-direction: column;
    }
    .colWrap p {
        font-size: 45px;
    }
    .advantage {
        width: auto;
        font-size: 45px;
    }
    .goldenLady {
        display: none;
    }
    .interestWrap {
        margin: 0;
    }
    .interest {
        display: block;
    }
    .interestPadding {
        width: auto;
        padding: 0 25px;
    }
    .interest h3 {
        width: auto;
        font-size: 55px;
    }
    .interestWidth {
        width: 50%;
        font-size: 55px;
    }
    .interestWidth p {
        font-size: 50px;
        padding: 0 40px;
    }
    .interestWidth span {
        font-size: 80px;
        margin-top: 25px;
    }
    .girlHair {
        display: none;
    }
    .termsWrap {
        padding: 0 55px;
        width: auto;
        font-size: 45px;
    }
    .termsWrap h3 {
        font-size: 55px;
    }
    .earn {
        display: block;
        font-size: 70px;
        margin-bottom: 25px;
    }
    .telegram {
        display: block;
        margin: 0 auto;
        width: 100px;
        height: 100px;
        margin-bottom: 25px;
        background: url(../img/telegram.png) 17px 27px no-repeat;
        border: solid 17px deepskyblue;
        border-radius: 50%;
        padding: 25px;
    }
    .telegram:hover {
        background: url("../img/telegram.png") 17px -125px no-repeat;
        animation-name: none;
        background-color: rgba(12,12,13,0.86);
    }
    .telegramFooterWrap {
        margin: 0 auto;
        font-size: 50px;
    }
    .telegramFooterWrap p {
        text-align: center;
    }
    .contact {
        font-size: unset;
    }
    .contact h2 {
        font-size: 55px;
    }
    .contact p {
        font-size: 45px;
    }
    .formWrap {
        display: block;
        text-align: center;
    }
    form {
        width: auto;
        font-size: 60px;
    }
    .form {
        padding: 0 70px;
    }
    input {
        height: 100px;
        font-size: 60px;
        text-align: center;
    }
    .input {
        border-width: 5px;
    }
    .experience {
        font-size: 60px;
        border-width: 5px;
        height: 200px;
        padding: 40px 40px;
    }
    .skill {
        display: inline-block;
        font-size: 60px;
        height: auto;
        margin: 0 50px;
        padding: 10px;
    }
    .sms {
        height: 100px;
        font-size: 60px;
        text-align: center;
    }
    .formBtn {
        margin-top: 50px;
    }
    .footerWrap {
        width: auto;
        padding: 70px;
        text-align: center;
    }
    .aboutBMS {
        display: none;
    }
    .ourServices {
        display: none;
    }
    .atention {
        width: auto;
    }
    .atention p {
        font-size: 32px;
        padding-bottom: 25px;
        border-bottom: solid 2px dimgrey;
    }
    .city {
        font-size: 45px;
    }
    .connectUs {
        display: block;
        font-size: 45px;
        margin-bottom: 55px;
    }
    .ourContacts h2 {
        font-size: 45px;
    }
    .mail {
        display: block;
        padding-bottom: 25px;
        font-size: 50px;
        margin: 55px auto 0;
    }
    .mail p {
        text-align: center;
        font-size: 50px;
    }
    .mail a {
        display: block;
        text-align: center;
    }
    .footer {
        margin-top: 70px;
    }
    .footerNetwork {
        font-size: 55px;
        border-top: solid 2px dimgrey;
        border-bottom: solid 2px dimgrey;
        padding: 30px 0;
        margin-bottom: 30px;
    }
    .ourContactCol {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .ourContactCol a {
        display: block;
        margin: 0 auto;
        font-size: 50px;
    }
    .btnContact {
        font-size: 40px;
        width: auto;
        margin-bottom: 35px;
    }
    .content {
        padding-top: 250px;
    }
    .mobSideMenu {
        top: -1570px;
        right: -1600px;
    }
    .mobSideMenu a {
        font-size: 100px;
        font-weight: unset;
        display: block;
    }
    .mobSideMenu ul {
        padding: 50px 70px;
    }
    .mobSideMenu li {
        margin-bottom: 35px;
    }
    .studioPhotoWrap .advantagesWrap .callBackH3 {
        font-size: 55px;
        width: auto;
        background: url(../img/Gold.jpg) -995px 275px;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .QuestionsContent .box .group {
        font-size: 50px;
        margin-bottom: 70px;
    }
}

/*/////////////////////////////////////////////////////////////////////////////////////*/

@media only screen
and (min-device-width: 320px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 2) {
    .studioPhoto {
        width: 100%;
        padding: 5px;
        font-size: 20px;
        position: relative;
        margin-left: 0;
    }
    .linkToStartWrap {
        display: inline-block;
    }
    .linkToStart {
        font-size: 60px;
    }
    .mobSideMenuLi .hideWrap {
        text-align: right;
        margin: 0 0 15px;
    }
    .hide {
        display: inline-block;
        margin-left: 590px;
        width: 130px;
        height: 130px;
        background: url("../img/hideBtn.jpg") no-repeat;
        background-size: cover;

        -webkit-transition: background 0.5s ease-out;
        -moz-transition: background 0.5s ease-out;
        -o-transition: background 0.5s ease-out;
        transition: background 0.5s ease-out;
    }
    .hide:hover {
        background: url("../img/hideBtnHover.jpg") no-repeat;
        background-size: cover;
    }
    .logo {
        font-size: 90px;
    }
    .logo:before {
        width: 80px;
        height: 80px;
        top: 15px;
        left: -95px;
    }
    .sideMenu {
        margin-top: 20px;
        width: 110px;
        height: 90px;
    }
    .sideMenu div {
        height: 15px;
        margin-bottom: 15px;
    }
    .headerWrap {
        padding: 70px 100px;
    }
    .navigation {
        display: none;
    }
    .apply {
        width: 800px;
        padding: 25px 30px;
        font-size: 60px;
    }
    .apply:hover {
        background: url(../img/Gold.jpg) -15px 355px;
        animation-name: a;
    }
    .aboutUs {
        font-size: 45px;
    }
    .aboutUsWrap {
        background-size: cover;
        margin-bottom: 75px;
        padding-top: 260px;
    }
    .aboutUsWrap2 {
        padding-top: 0;
    }
    .aboutUs h2 {
        font-size: 55px;

    }
    .aboutUs h2 span {
        font-size: 55px;
    }
    .aboutWork {
        background: url("../img/baterfly.jpg") repeat-y 190px -290px;
        padding-top: 250px;
    }
    .aboutWork .colWrap .position{
        text-align: center;
    }
    .colWrap {
        font-size: 45px;
        flex-direction: column;
        text-align: center;
    }
    .colLeft {
        width: auto;
    }
    .colRight {
        width: auto;
        text-align: center;
    }
    h1 {
        width: auto;
        font-size: 60px;
        margin: 0 auto 55px;
        background: url(../img/Gold.jpg) -1233px 325px;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .logoText {
        background: url(../img/Gold.jpg) -7px 217px;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .girlWrap {
        display: none;
    }
    .mainLogoImgWrap {
        margin-bottom: 60px;
    }
    .advantages {
        padding-top: 255px;
    }
    .advantagesWrap h3 {
        font-size: 55px;
        width: auto;
        background: url(../img/Gold.jpg) -1102px 275px;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .horizontalAdvantage {
        flex-direction: column;
    }
    .colWrap p {
        font-size: 45px;
    }
    .advantage {
        width: auto;
        font-size: 45px;
    }
    .goldenLady {
        display: none;
    }
    .interestWrap {
        margin: 0;
    }
    .interest {
        display: block;
    }
    .interestPadding {
        width: auto;
        padding: 0 25px;
    }
    .interest h3 {
        width: auto;
        font-size: 55px;
    }
    .interestWidth {
        width: 50%;
        font-size: 55px;
    }
    .interestWidth p {
        font-size: 50px;
        padding: 0 40px;
    }
    .interestWidth span {
        font-size: 80px;
        margin-top: 25px;
    }
    .girlHair {
        display: none;
    }
    .termsWrap {
        padding: 0 55px;
        width: auto;
        font-size: 45px;
    }
    .termsWrap h3 {
        font-size: 55px;
    }
    .earn {
        display: block;
        font-size: 70px;
        margin-bottom: 25px;
    }
    .telegram {
        display: block;
        margin: 0 auto;
        width: 100px;
        height: 100px;
        margin-bottom: 25px;
        background: url(../img/telegram.png) 17px 27px no-repeat;
        border: solid 17px deepskyblue;
        border-radius: 50%;
        padding: 25px;
    }
    .telegram:hover {
        background: url("../img/telegram.png") 17px -125px no-repeat;
        animation-name: none;
        background-color: rgba(12,12,13,0.86);
    }
    .telegramFooterWrap {
        margin: 0 auto;
        font-size: 50px;
    }
    .telegramFooterWrap p {
        text-align: center;
    }
    .contact {
        font-size: unset;
    }
    .contact h2 {
        font-size: 55px;
    }
    .contact p {
        font-size: 45px;
    }
    .formWrap {
        display: block;
        text-align: center;
    }
    form {
        width: auto;
        font-size: 60px;
    }
    .form {
        padding: 0 70px;
    }
    input {
        height: 100px;
        font-size: 60px;
        text-align: center;
    }
    .input {
        border-width: 5px;
    }
    .experience {
        font-size: 60px;
        border-width: 5px;
        height: 200px;
        padding: 40px 40px;
    }
    .skill {
        display: inline-block;
        font-size: 60px;
        height: auto;
        margin: 0 50px;
        /*transform: scale(1);*/
        /*-ms-transform: scale(1);*/
        /*-webkit-transform: scale(1);*/
        padding: 10px;
    }
    .sms {
        height: 100px;
        font-size: 60px;
        text-align: center;
    }
    .formBtn {
        margin-top: 50px;
    }
    .footerWrap {
        width: auto;
        padding: 70px;
        text-align: center;
    }
    .aboutBMS {
        display: none;
    }
    .ourServices {
        display: none;
    }
    .atention {
        width: auto;
    }
    .atention p {
        font-size: 32px;
        padding-bottom: 25px;
        border-bottom: solid 2px dimgrey;
    }
    .city {
        font-size: 45px;
    }
    .connectUs {
        display: block;
        font-size: 45px;
        margin-bottom: 55px;
    }
    .mail {
        display: block;
        padding-bottom: 25px;
        font-size: 50px;
        margin: 55px auto 0;
    }
    .mail p {
        text-align: center;
        font-size: 50px;
    }
    .mail a {
        display: block;
        text-align: center;
    }
    .footer {
        margin-top: 70px;
    }
    .footerNetwork {
        font-size: 55px;
        border-top: solid 2px dimgrey;
        border-bottom: solid 2px dimgrey;
        padding: 30px 0;
        margin-bottom: 30px;
    }
    .license {
        font-size: 37px;
        padding: 0 50px;
    }
    .ourContactCol {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .ourContactCol a {
        display: block;
        margin: 0 auto;
        font-size: 50px;
    }
    .ourContacts h2 {
        font-size: 45px;
    }
    .btnContact {
        font-size: 40px;
        width: auto;
        margin-bottom: 35px;
    }
    .content {
        padding-top: 250px;
    }
    .mobSideMenu {
        top: -1570px;
        right: -1600px;
    }
    .mobSideMenu a {
        font-size: 100px;
        font-weight: unset;
        display: block;
    }
    .mobSideMenu ul {
        padding: 50px 70px;
    }
    .mobSideMenu li {
        margin-bottom: 35px;
        border-bottom: 1px solid gold;
    }
    .studioPhotoWrap .advantagesWrap .callBackH3 {
        font-size: 55px;
        width: auto;
        background: url(../img/Gold.jpg) -995px 275px;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .QuestionsContent .box .group {
        font-size: 50px;
        margin-bottom: 70px;
    }
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////*/



